.bgBodyTopRow{
    background: rgba(196, 196, 196, 0.4);
}

.bgBodyTopRow2{
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #C4C4C4;
}

.navBrandTop{
    background-color: #1C1190 !important;
}
