{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/homePage.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</head>
<body>
    

    <!-- navigation -->
  
      
     
      <nav class="navbar navbar-expand-lg navbar-light navBrandTop">
          <a class="navbar-brand " href="#">
              <img src="{% static 'images/dLab_main logo.png' %}" class="mx-4" width="90" height="40" alt="" loading="lazy">
            </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active ml-4 mr-5 dlabDriveText ">
                <a class="nav-link text-dlab" href="#"> <span class="text-white  ">  Dlab Drive</span><span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item mx-5 " >
                  <form class="form-group my-2 my-lg-0 ml-4 pl-4 pt-3  ">
                      <input class="form-control mr-sm-2 px-5 bg-top-form" type="search" placeholder="Search in Dlab Drive" aria-label="Search">
                      <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
                  </form>
                <!-- <a class="nav-link" href="#">Link</a> -->
              </li>
              <ul class="navbar-nav ">
              <li class="nav-item dropdown ml-5 pl-5">
                <a class="nav-link dropdown-toggle text-white  text-dlab" id="pillarDropDown" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 <span class="text-white  "> Pillars</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Pillar one</a>
                  <a class="dropdown-item" href="#">Pillar two</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Another Pillar</a>
                </div>
              </li>
            
            
            {% comment %} the list is hidden till when you collapse {% endcomment %}
            
             <li class="nav-item dropdown  px-2  rightCornerButtons ">
              <a class="nav-link nav-brand " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="{% static 'images/settings.png' %}" width="30" height="30" alt="" loading="lazy">
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item px-1  rightCornerButtons">
        
                  <a class="navbar-brand" href="#">
                  <img src="{% static 'images/information.png' %}" width="30" height="30" alt="" loading="lazy">
                  </a>
            
           </li>
            <li class="nav-item dropdown rightCornerButtons">
              <a class="nav-link nav-brand " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                
                  <img src="{% static 'images/d.png' %}" width="30" height="30" alt="" loading="lazy">
                  </a>
              <div class="dropdown-menu dropdown-menu-right dropdownRightCorner" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>

          </ul>

            </ul>

            <!-- Ttems To the right corner  -->
          <ul class="navbar-nav rightCornerButtonsNormal">
             <li class="nav-item mr-right dropdown  px-2 ">
              <a class="nav-link nav-brand " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="{% static 'images/settings.png' %}" width="30" height="30" alt="" loading="lazy">
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item px-1 ">
        
                  <a class="navbar-brand" href="#">
                  <img src="{% static 'images/information.png' %}" width="30" height="30" alt="" loading="lazy">
                  </a>
            
           </li>
            <li class="nav-item dropdown">
              <a class="nav-link nav-brand " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                
                  <img src="{% static 'images/d.png' %}" width="30" height="30" alt="" loading="lazy">
                  </a>
              <div class="dropdown-menu dropdown-menu-right dropdownRightCorner" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/logout">logout</a>
              </div>
            </li>

          </ul>
            
          </div>
        </nav>
       
        <!-- end navigation -->


  <!-- start body -->
      
  <div class="row">
      <div class="col-3 py-2 bgBodyTopRow">
          <p class=" px-1">
              Charles Wambura {{user.email}} df
          </p>
          
      </div>
      <div class="col-2 py-2 bgBodyTopRow2">
          <p class="pl-5">
              <img class="" src="{% static 'images/plus.png' %}" width="20" height="20" alt="" loading="lazy">
          </p>
        
      </div>
      <div class="col-7 py-2 bgBodyTopRow2 pr-5">
        
            
          <div class=" dropdown float-right mx-2 ">
              <a class="nav-link btn btn-primary rounded dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Add
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Pillar one</a>
                <a class="dropdown-item" href="#">Pillar two</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Another Pillar</a>
              </div>
          </div>

              <div class=" dropdown float-right mx-2">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Activate/Deactivate
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Pillar one</a>
                    <a class="dropdown-item" href="#">Pillar two</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Another Pillar</a>
                  </div>
              </div>

        
          
      </div>
  </div>
  
        <div class="row " data-widget="tab-slider">
          <div class="col-3 bgBodyTopRow afterLeftNav mr-0 ">
            <div class="nav flex-column nav-pills leftNav " id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true"> 
                <img src="{% static 'images/folderNormal.png' %}" width="30" height="30" alt="" loading="lazy">
                <span class="pl-2  linkLeftNav">My Files</span> </a>
              <a class="nav-link " id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">
                <img src="{% static 'images/share.png' %}" width="30" height="30" alt="" loading="lazy">
                <span class="pl-2 linkLeftNav">Shared</span> </a>
              <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">
                <img src="{% static 'images/recent.png' %}" width="30" height="30" alt="" loading="lazy">
                <span class="pl-2 linkLeftNav">Recent</span> </a>
              <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                <img src="{% static 'images/star.png' %}" width="30" height="30" alt="" loading="lazy">
                <span class="pl-2 linkLeftNav">Starred</span> </a>
              <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                <img src="{% static 'images/programs.png' %}" width="30" height="30" alt="" loading="lazy">
                <span class="pl-2 linkLeftNav">Programs</span> </a>
              <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                <img src="{% static 'images/dustbin.png' %}" width="30" height="30" alt="" loading="lazy">
                <span class="pl-2 linkLeftNav">Trash</span> </a>
               
            </div>
            <div class="afterLeftNav">
           <p>dfsfa  sjdfk kasdj jksdankjnnj jakd</p>
            <p>dfsfa  sjdfk kasdj jksdankjnnj jakd</p>
             <p>dfsfa  sjdfk kasdj jksdankjnnj jakd</p>
              <p>dfsfa  sjdfk kasdj jksdankjnnj jakd</p>
               <p>dfsfa  sjdfk kasdj jksdankjnnj jakd</p>
                <p>dfsfa  sjdfk kasdj jksdankjnnj jakd</p>
                

&nbsp;
            </div>
          </div>
          <div class="col-9  content">
            <div class="tab-content" id="v-pills-tabContent">
              <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">Home Panel</div>
              <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">Profile Panel</div>
              <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">Messages Panel</div>
              <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">Settings Panel</div>
              <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">Messages Panel</div>
              <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">Settings Panel</div>
            </div>
            <img class="mx-2" src="{% static 'images/folder.png' %}" width="70" height="70" alt="" loading="lazy">
             <img class="mx-2" src="{% static 'images/folder.png' %}" width="70" height="70" alt="" loading="lazy">
               <img class="mx-2" src="{% static 'images/folder.png' %}" width="70" height="70" alt="" loading="lazy">
                 <img class="mx-2" src="{% static 'images/folder.png' %}" width="70" height="70" alt="" loading="lazy">
                   <img class="mx-2" src="{% static 'images/folder.png' %}" width="70" height="70" alt="" loading="lazy">
                     <img class="mx-2" src="{% static 'images/folder.png' %}" width="70" height="70" alt="" loading="lazy">
                       <img class="mx-2" src="{% static 'images/folder.png' %}" width="70" height="70" alt="" loading="lazy">
                         <img class="mx-2" src="{% static 'images/folder.png' %}" width="70" height="70" alt="" loading="lazy">
                          <img class="mx-2" src="{% static 'images/folder.png' %}" width="70" height="70" alt="" loading="lazy">
             <img class="mx-2" src="{% static 'images/folder.png' %}" width="70" height="70" alt="" loading="lazy">
               <img class="mx-2" src="{% static 'images/folder.png' %}" width="70" height="70" alt="" loading="lazy">
                 <img class="mx-2" src="{% static 'images/folder.png' %}" width="70" height="70" alt="" loading="lazy">
                   <img class="mx-2" src="{% static 'images/folder.png' %}" width="70" height="70" alt="" loading="lazy">
                     <img class="mx-2" src="{% static 'images/folder.png' %}" width="70" height="70" alt="" loading="lazy">
                     <i class="fas fa-cog"></i>
                     <i class="fad fa-atom-alt"></i>
                    
                                        
                       
          </div>
        </div>



</body>
</html>